.header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding: 10px 10px;  
  height: 65px;  
}

.header img {
  max-width: 45px; 
  max-height: 50px; 
  padding-right: 15px; 
}


.header .nav-main {
  display: flex; 
  align-items: center;
}

.header .brand {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #FFFFFF;
  margin-right: auto;
  
}

.header .course-info {
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
color: #FFFFFF;

}